.Headerlogo {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 35px;
  margin-top: 30px;
  margin-left: 30px;
  /* box-shadow: 2px 2px rgb(82, 51, 22); */
  z-index: 1;
}

/* @media */
@media screen and (max-width: 400px) {
  .Headerlogo {
    width: 65px;
    height: 65px;
    border-radius: 20px;
  }
}
